.env
.env.local
*.log
*.pyc
__pycache__/
.pytest_cache/

Webhook/licenseimage/
Webhook/detectionimage/
Webhook/xmls/

app/licenseimage/
app/detectionimage/
xmls/
licenseimage/
detectionimage/

var/
postgres-data/

